<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - AccountsGulf</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="mainContainer">
        <div class="registerWrapper">
            <div class="forgotCont">
                <div class="headCont">
                    <h1 class="regHead">AccountsGulf</h1>
                    <p class="regSubHead">Login to get full access to our system.</p>
                </div>
                <div class="formCont">
                    <form>
                        <input type="text" placeholder="USERNAME">
                        <input class="inputTopMargin" type="email" placeholder="EMAIL">
                        <button class="signupBtn" type="submit">Request Verification</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>