<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - AccountsGulf</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="mainContainer">
        <div class="registerWrapper">
            <div class="loginCont">
                <div class="headCont">
                    <h1 class="regHead">AccountsGulf</h1>
                    <p class="regSubHead">Login to get full access to our system.</p>
                </div>
                <div class="formCont">
                    <%- include("./partials/messages") %>
                    <form>
                        <input type="text" placeholder="USERNAME">
                        <input class="inputTopMargin" type="password" placeholder="PASSWORD">
                        <button class="signupBtn" type="submit">Sign In</button>
                    </form><br/>
                    <p class="registerHref"><a href="/register">Don't have an account? Sign up.</a></p>
                    <p class="registerHref"><a href="forgot.html">Forgot your password?</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>