<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - AccountsGulf</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="mainContainer">
        <div class="registerWrapper">
            <div class="forgotCont">
                <div class="headCont">
                    <h1 class="regHead">AccountsGulf</h1>
                    <p class="regSubHead">Please set your new password.</p>
                </div>
                <div class="formCont" >
                    <form action="/forgot" method="POST">
                       
                        <input class="inputTopMargin" type="password" placeholder="New Password" name="password" style="margin-top: -20px;">
                        <input class="inputTopMargin" type="password" placeholder="Confirm New Password" name="cPassword">
                        <button class="signupBtn" type="submit">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>