<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration - AccountsGulf</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1 class="successMessage">Hurray! You've been succesfully registered.</h1>
    <a class="redBtn" href="login.html">Please Click Here to Login</a>
</body>
</html>