<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration - AccountsGulf</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="mainContainer">
        <div class="registerWrapper">
            <div class="forgotCont">
                <div class="headCont">
                    <h1 class="regHead">AccountsGulf</h1>
                    <p class="regSubHead" style="margin-top: 20px; font-size: 0.8rem;">You've succesfully registered. Please check your email for verification code to proceed further.</p>
                </div>
                <div class="formCont">
                    <form>
                        <input type="text" placeholder="VERIFICATION CODE">
                        <button class="signupBtn" type="submit">Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>